.stats-knobs div{
	text-align:center;
}

input.dial {
	box-shadow: none;
	transition: none;
	border-radius: auto;
	height: auto;
	cursor: default;
}

input.dial:focus {
	box-shadow: none;
}

.btn-group-cell .btn {
	/*width: 80px;*/
}

.btn-group-cell a.btn {
	/*text-align: left;*/
}

.btn-group-cell a.btn span{
	text-align: right;
}

.expanded-edit input[type="text"]{
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	width: 90%;
}

.expanded-edit textarea {
	width: 90%;
	height: 99px;
}

.progress-fix .bar, .progress .bar-fix {
    background-color: #DD514C;
    background-image: linear-gradient(to bottom, #EE5F5B, #C43C35);
    background-repeat: repeat-x;
}

.progress-final_1 .bar, .progress .bar-final_1 {
    background-color: #5EB95E;
    background-image: linear-gradient(to bottom, #62C462, #57A957);
    background-repeat: repeat-x;
}

.progress-info .bar, .progress .bar-info {
    background-color: #4BB1CF;
    background-image: linear-gradient(to bottom, #5BC0DE, #339BB9);
    background-repeat: repeat-x;
}

.progress-in_progress .bar, .progress .bar-in_progress {
    background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
}