.editbox {
	display:none;
}

input {
	height: 10px;
	margin: 0px;
}

input.duration {
	width: 25px;
}

.table th, .table td {
	line-height: 22px;
}

.chzn-choices {
	border-radius: 4px;
}

.chzn-container-active .chzn-choices {
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

select.editbox {
	margin: 0px;
	padding: 0px;
	line-height: 10px;
	height: 17px;
	width: 80px;
	font-size: 11px;
}

select.editbox option {
	outline: none;
}

#users input {
	width: auto;
}


.table-paper.table-striped tbody tr:nth-child(2n) td.final1,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.final1  {
	background: #a2e9a2;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.in_progress,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.in_progress  {
	background: #fde383;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.review,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.review  {
	background: #e4a3e8;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.fix,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.fix  {
	background: #e8a3a3;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.rendering,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.rendering  {
	background: #a3d0e8;
}


.btn-group .dropdown-toggle {
	text-align: left;
	width: 85px;
	margin-top: 1px;
}

.btn-group .dropdown-toggle span {
	float: right;
}


.btn-rendering,
.btn-rendering:hover,
.btn-in_progress,
.btn-in_progress:hover,
.btn-fix,
.btn-fix:hover,
.btn-final1,
.btn-final1:hover,
.btn-review,
.btn-review:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-rendering.active,
.btn-in_progress.active,
.btn-fix.active,
.btn-final1.active,
.btn-review.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-rendering {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-rendering:hover,
.btn-rendering:active,
.btn-rendering.active,
.btn-rendering.disabled,
.btn-rendering[disabled] {
  background-color: #0055cc;
}
.btn-rendering:active,
.btn-rendering.active {
  background-color: #004099 \9;
}
.btn-in_progress {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-in_progress:hover,
.btn-in_progress:active,
.btn-in_progress.active,
.btn-in_progress.disabled,
.btn-in_progress[disabled] {
  background-color: #f89406;
}
.btn-in_progress:active,
.btn-in_progress.active {
  background-color: #c67605 \9;
}
.btn-fix {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-fix:hover,
.btn-fix:active,
.btn-fix.active,
.btn-fix.disabled,
.btn-fix[disabled] {
  background-color: #bd362f;
}
.btn-fix:active,
.btn-fix.active {
  background-color: #942a25 \9;
}
.btn-final1 {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-final1:hover,
.btn-final1:active,
.btn-final1.active,
.btn-final1.disabled,
.btn-final1[disabled] {
  background-color: #51a351;
}
.btn-final1:active,
.btn-final1.active {
  background-color: #408140 \9;
}
.btn-review {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-review:hover,
.btn-review:active,
.btn-review.active,
.btn-review.disabled,
.btn-review[disabled] {
  background-color: #2f96b4;
}
.btn-review:active,
.btn-review.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}





.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 10px 0 10px;
}

.footer p {
	margin-bottom: 0px;
	font-size: 10px;
}