.editbox {
	display:none;
}

input {
	height: 10px;
	margin: 0px;
}

.table th, .table td {
	line-height: 22px;
}

.chzn-choices {
	border-radius: 4px;
}

.chzn-container-active .chzn-choices {
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

select.editbox {
	margin: 0px;
	padding: 0px;
	line-height: 10px;
	height: 17px;
	width: 80px;
	font-size: 11px;
}

select.editbox option {
	outline: none;
}



.table-paper.table-striped tbody tr:nth-child(2n) td.final1,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.final1  {
	background: #a2e9a2;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.in_progress,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.in_progress  {
	background: #fde383;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.review,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.review  {
	background: #e4a3e8;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.fix,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.fix  {
	background: #e8a3a3;
}

.table-paper.table-striped tbody tr:nth-child(2n) td.rendering,
.table-paper.table-striped tbody tr:nth-child(2n+1) td.rendering  {
	background: #a3d0e8;
}





.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 10px 0 10px;
}

.footer p {
	margin-bottom: 0px;
	font-size: 10px;
}